faiss-cpu
flask
flask-cors
gunicorn
langchain
langchain-experimental
langchain-huggingface
langdetect
numpy
ollama
opencv-python-headless
pandas
pdfplumber
Pillow
psutil
PyMuPDF
pytesseract
python-docx
qrcode[pil]
requests
scikit-learn
scipy
sentence-transformers
torch
tqdm
transformers
